header{
 background: rgba(229, 84, 115, 0.10);;
}

.been{
    padding: 30px 40px 0px 110px;
    display: flex;
    align-items: center;
}
.been .been-pf{
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    padding-left:50px ;
}
.been-pri{
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px 20px 43px;
    margin-top: 20px;
}
.been-cls{
    display: flex;
    font-size: 50px;
    font-weight: 600;
    font-family: 'lato',sans-serif;
    font-family: 'open Sans', sans-serif;
}
.been-content{
    margin-right: 150px;
}
.been-pera{
    display: flex;
    font-family: 'lato';
    color:rgba(39, 39, 39, 0.60);
}
.been .been-pf{
    width: 635px;
    height: 800px;
}
/* main section */
.main-div{
    display: flex;
    align-items: center;
    background: rgba(39, 39, 39, 0.05);
    margin: 130px 90px;
    padding: 60px;
    border-radius: 8px;
    justify-content: space-around;
}
.child-div{
    align-items: center;
    margin: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}
.hot-deal{
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    padding: 30px 20px 30px 120px;
}
.not-deal{
    font-family: 'lato',sans-serif;
    font-family: 'open Sans', sans-serif;
    font-size: 30px;

}
.para-div{
    align-items: center;
    margin: 10px;
    text-align: center;
    padding: 100px 30px 20px 200px;
}
.off{
    color: #E55473;
}
.pera-tag{
    text-align: center;
    align-items: center;
}
.insta-one{
    font-family: 'lato',sans-serif;
    font-family: 'open Sans', sans-serif;
    font-size: 30px;
}

.img-div{
    width: 318px;
    height: 420px;
    flex-shrink: 0;
    padding: 20px 30px 20px 300px;
    justify-content: space-around;
}
.insta{
    color: #272727;
text-align: center;
font-family: Lato;
margin-top:100px ;
}
.picture{
    display: flex;
    align-items: center;
    padding: 30px 130px 60px 130px;
}
.flower{
    padding-right: 20px;
}
.rect-one{
    padding-right: 20px;
}
.rect-two{
    padding-right: 20px;
}
.rect-three{
    padding-right: 20px;
}
.background{
    background-image: url('../imgs/Rectangle\ 9.png');
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.center{
    text-align: center;
    padding-top: 100px;
   
}
.get{
    font-family: 'lato',sans-serif;
    font-family: 'open Sans', sans-serif;
    font-size: 30px;
}
.enter-em{
    padding: 20px 220px;
    border: none;
    border-radius: 8px;
    
}